.jumbotron {
	color: white
}

.color {
 	background-color: #068CBD
 }

h1 {
 	color: #C11B22;
 	font-family: 'Exo 2', sans-serif;
 	text-align: center
 }

p {
	text-align: center
}

h3 {
	text-align: center
}

.img-responsive {
	text-align: center;
	margin: 0 auto
}